<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Gimmzi</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Gimmzi app needs access to your camera in order to upload your profile image.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Gimmzi Rivals utilises your location to locate deals, loyalty and businesses that are close by and to obtain local locations for an improved user experience.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Gimmzi Rivals utilises your location to locate deals, loyalty and businesses that are close by and to obtain local locations for an improved user experience.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Gimmzi Rivals utilises your location to locate deals, loyalty and businesses that are close by and to obtain local locations for an improved user experience.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Gimmzi app needs access to your photo library in order to upload your profile image.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Gimmzi app needs access to your photo library in order to upload your profile image.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Bold.otf</string>
		<string>Inter-Medium.otf</string>
		<string>Inter-Regular.otf</string>
		<string>Inter-SemiBold.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
